<form action="/register" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <label for="nome"><b>Nome:</b></label>
    <input type="text" placeholder="Seu Nome Completo" name="nome" required>

    <label for="email"><b>Email:</b></label>
    <input type="email" placeholder="Seu E-mail" name="email" required>

    <label for="cargo"><b>Cargo:</b></label>
    <input type="text" placeholder="Seu Cargo/Função" name="cargo" required>

    <label for="senha"><b>Senha:</b></label>
    <input type="password" placeholder="Crie uma Senha Segura" name="senha" required>

    <button type="submit">Cadastrar</button>
</form>
